<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <body>
        <p><%= @guide.recipient_name %>, You've receive a Style Guide from <%= @guide.author %></p>
        <p>
          To view just follow this <a href="http://localhost:3000/guides/<%=@guide.uid%>">link</a>
        </p>
    </p>
  </body>
</html>
