<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <body>
        <p>Hi <%= @guide.recipient_name %>, </p>
        <p> You've receive a Style Guide from <%= @guide.author %>.</p>
        <p>
          To view just follow this <a href="https://style-assistant.herokuapp.com/guides/<%=@guide.uid%>">link.</a>
        </p>
        <p>Cheers, </p>
          <p>Style Assistant</p>
    </p>
  </body>
</html>
