/*body {
  font-family: sans-serif;
}

img:hover {
  cursor: pointer;
}

.chosen-image {
  width: 450px;
  height: 50%;
  background-color: white;
  padding:15px;
  padding-bottom: 100px;
  clear:both;
  margin:0 auto;
}

.chosen-image:hover {
  cursor: pointer;
}

@font-face {
    font-family:bebas;
    src: url(BebasNeue.otf);
}

.your-class img{
  width: 100px;
  height: 75px;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  margin: 0;
}

.your-class{
  background-color:#e1e8f0;
  overflow: scroll;
  height:315px;
  padding:15px 0px;
  width: 100%;
}

#image{
  width: 640px;
  height: 480px;
}

#title{
  font-family: bebas;
  text-shadow: 3px 3px white;
  display:inline;
  z-index: -1;
  font-size: 100px;
  position:absolute;
}

.search_wrapper{
  width:100%;
  margin-bottom: 20 px;
}

#search_input{
  width:73%;
  float:left;
  margin: 0px 0 15px;
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: white;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 0px;
  font-weight: 300;
}

.success-message {
  font-family: "Roboto", sans-serif;
  letter-spacing: .12em;
  text-transform: uppercase;
  text-align: center;
  color: #707070;
}

.success-message:hover {
  color: #ea4859;
}

.container2 {
  width: 80%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  font-family: 'Oswald', sans-serif;
}

.home-pages-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.home-pages-images img {
  width: 40%;
  height: 40%;
  margin: 5%;
}

.search_btn{
  float:right;
  width: 100px;
  padding:15px;
  font-size: 15px;
  border-bottom: 3px solid #FFCC33;
}

.search_btn:hover{
  background-color: #fdba44;
}*/
