.container{
  display:block;
  margin:auto;
  width:100%;
  background-color: #eee;
  overflow: auto;
  background: -moz-linear-gradient(left, rgba(240,240,240,1) 0%, rgba(246,246,246,1) 47%, rgba(194,194,194,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(240,240,240,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(194,194,194,1)));
  background: -webkit-linear-gradient(left, rgba(240,240,240,1) 0%, rgba(246,246,246,1) 47%, rgba(194,194,194,1) 100%);
}
.sheet{
  margin: 10% 15%;
  padding:2% 5% 5%;
  background-color: white;
  box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.2);
}

.introShow h1{
    font-size: 80px;
    text-align: center;
    margin-bottom: 80px;
}

#first{
  margin-top: -40px;
  border-bottom: 2px solid black;
  line-height: 2em;
  font-weight: bold;
}

#logo2{
  float:left;
  margin:0 0px 0 20px;
}

.blurb{
  font-size: 18px;
  margin-left: 30px;
  margin-top: 4.5%;
  text-align: left;
}

.blurb{
  float:left;
}


.headings{
  font-weight: bold;
  clear:both;
  border-bottom: 2px solid black;
  line-height: 2em;
}


.colourShow{
  width:100%;
  clear:both;
  margin: 6% 2% 0;
}

.circleShow {
  border-radius: 50%;
  width: 230px;
  height: 230px;
  font-size: 25px;
  color: #fff;
  line-height: 238px;
  text-align: center;
  margin-bottom: 6%;
  display:inline-block;
  margin-left: 2%;
}

.hexc{
  margin-left: 5%;
}

.clipboard-btn{
  width:30px;
  height:30px;
  padding:0;
  border:none;
  background-color: white;
  color:#555;
  border-radius: 50%;
  background: url('copy3.png') left center no-repeat;
  background-size: 20px;
  padding-top: -50px;
}

.clipboard-btn:hover{
  background: url('copy.png') left center no-repeat;
  background-size: 20px;
  padding-top: -50px;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }



#colourBlurb{
  float:left;
  width:50%;
  line-height: 1.8em;
  font-size: 1.1em;
  text-align: left;
  margin-bottom: 5%;
  margin-left: 3%;
}

#colourBlurb span{
  font-weight: bold;
}


.tonesShow{
    margin-left: 70px;
    float:left;
}

.tshow{
  width:60px;
  height:60px;
  display: inline-block ;
}


/*---MOOD BOARD---*/


.mood-text{
  float:left;
  width:20%;
  line-height: 2em;
  font-size: 1.1em;
}

.moods-show{
  position: relative;
  height: 535px;
  width:772px;
  float:right;
  margin: 20px 0;
  background-color: #eee;
  padding: 20px;
  box-sizing:inherit;
  border-radius: 3px;
  margin-bottom: 50px;
}

.mood-tag{
  color:black;
  font-size: 37px;
  background-color: white;
  display: inline-block;
  line-height: 2em;
  padding:0 17px 0 10px;
}

.mood{
  margin:3px;
}


#mood1{
  box-sizing: border-box;
  width:460px;
  height:300px;
  float:left;
}


#mood1:hover{
  opacity: .8;
}

#mood2{
  box-sizing: border-box;
  width:350px;
  height:225px;
  float:left;
}

#mood2:hover{
  opacity: .8;
}

#mood3{
  width:300px;
  height:225px;
  float:right;
}

#mood3:hover{
  opacity: .8;
}

#m1{
  width:300px;
  height:300px;
  left:66.5%;
  float:right;
}


#m2{
  width:104px;
  height:225px;
  float:left;
}

#t1{
  background: white;
  padding: 20px;
  font-size: 40px;
  z-index: 2;
  position: absolute;
  right:10%;
  top:48%;
}




/*---FONT SHOW---*/


.fontShow{
  margin-bottom: 10px;
  float:left;
  width:80%;
  margin-right: 0;
  margin-left: 0%;
  margin-top: -50px;
}


.paraShow{
  float:right;
  width:65%;
  line-height: 2.2em;
  margin-top: -90px;
  font-size: 1em;
  text-align: left;
  margin-right:.5%;
  background-color: #eee;
  padding: 6px 20px 16px;
  margin-bottom: 30px;
}

.paraShow span{
  font-size: 18px;
  /*background-color: white;*/
}


#font{
  font-size: 88px;
  margin-top: -60px;
  margin-bottom: -20px;
  color:black !important;
}

#font1a{
  font-size: 72px;
  margin-bottom: -10px;
  color:black !important;
}

#font2a {
  font-size: 48px;
  color:black !important;
}
#font3{
  font-size: 24px;
  margin-bottom: 45px;
  color:black !important;
}

#font4{
  font-size: 15px;
  color:black !important;
}

.headings2{
  font-weight: bold;
  clear:both;
  line-height: 2em;
  margin: 40px 0 60px ;
}

.headings3{
  font-weight: bold;
  clear:both;
  line-height: 2em;
}

.headings4{
  font-weight: bold;
  clear:both;
  border-bottom: 2px solid black;
  line-height: 2em;
}


/*--CODE--*/

.codeSnippet{
  font-size: 17px;
}

.text{
  line-height: 1.8em;
}

.code-p{
  margin-top: 3%;
}

xmp{
  color:gray;
  display: inline;
}

#footer{
  text-align: center;
  margin: 60px auto 0;
}
