.container{
  display:block;
  margin:auto;
  width:100%;
  background-color: #f7f7f7;
  overflow: auto;
}

.sheet{
  margin: 10% 15%;
  padding:2% 5% 5%;
  background-color: white;
  box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.2);
}

.introShow h1{
    font-size: 70px;
}

#first{
  margin-top: -40px;
  border-bottom: 2px solid black;
  line-height: 2em;
  font-weight: bold;
}

.headings{
  font-weight: bold;
  clear:both;
  border-bottom: 2px solid black;
  line-height: 2em;
}

.blurb{
  font-size: 20px;
  margin-left: 130px;
  margin-top: 5%;
}

.blurb, #logo{
  float:left;
}

.colourShow{
  width:100%;
  clear:both;
  margin-top: 6%;
}

.circleShow {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-size: 25px;
  color: #fff;
  line-height: 200px;
  text-align: center;
  margin-bottom: 6%;
  display:inline-block;
  margin-left: 5.5%;
}

.clipboard-btn{
  width:30px;
  height:30px;
  padding:0;
  border:none;
  background-color: white;
  color:#555;
  border-radius: 50%;
  background: url('copy3.png') left center no-repeat;
  background-size: 20px;
  padding-top: -50px;
}

.clipboard-btn:hover{
  background: url('copy.png') left center no-repeat;
  background-size: 20px;
  padding-top: -50px;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }



#colourBlurb{
  float:left;
  width:50%;
  line-height: 1.8em;
  font-size: 1.2em;
  text-align: left;
  margin-bottom: 5%;
  margin-left: 3%;
}

.tonesShow{
    margin-left: 70px;
    float:left;
}

.tshow{
  width:60px;
  height:60px;
  display: inline-block ;
}

.fontShow{
  clear:both;
  margin-bottom: 5%;
}

.codeSnippet{
  font-size: 17px;
}
