.section{
  display:block;
}

.circle{
  background-color: lightgray;
  height: 180px;
  width:180px;
  border-radius: 100%;
  margin-bottom: 20px;
}

.circleWrapper{
  width:400px;
}

.fontWrapper{
  clear:both;
}

body{
  font-family: roboto;
  background-color: #fcfcfc;
}

.section{
  /*margin:10% 0%;*/
}

.picker{
  margin:2%;
  width:20%;
  float: left;
}

#section2{
  width:100%;
  padding:10% 1%;
}

/*FONT SECTION*/

.header{
  font-size: 100px;
  background-color: white;
}

.paragraph{
  font-size: 20px;
  background-color: white;
}

#section3{
  clear:both;
  padding:10% 1%;
  background-color: #ededed;
}
