<form action="/guides" method="post" class="col 5">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <!-- SECTION 1A -->

  <div class="section" id="section1">

    <h2>Project</h2>

    <div class="start">
      <label for="">Title</label>
      <input class="title" name="title" type="text">

      <label for="description">Description</label>
      <input class="description" name="description" type="text">

      <label for="author">Author</label>
      <input class="author" name="author" type="text">
    </div>

  </div>

  <!-- SECTION 1A -->

  <div class="section" id="section1b">

    <h2>Logo</h2>

      <label for="file">Upload an image</label>
      <input class="file" name="file" type="file">

  </div>


  <!-- SECTION 2 -->
  <!-- COLOUR ONE -->

  <hr>

  <h2>Colour palette</h2>

  <div class="section" id="section2">

    <div class="picker" class="col 5">
      <div class="line">
        <div class="circle"></div>
        <!-- HEX Target -->
        <label for="colourValueHEX"></label>
        <input name="colour1" class="colourValueHEX" value="">
        <!-- HEX Trigger -->
        <button class="getColour">Generate Random</button>
      </div>
    </div>



  <!-- COLOUR TWO -->


    <div class="picker ">
      <div class="line">
        <div class="circle"></div>
        <!-- HEX Target -->
        <label for="colourValueHEX"></label>
        <input name="colour2" class="colourValueHEX" value="#43d614">
        <!-- HEX Trigger -->
        <button class="getColour">Generate Random</button>
      </div>
    </div>



  <!-- COLOUR THREE -->

    <div class="picker">
      <div class="line">
        <div class="circle"></div>
        <!-- HEX Target -->
        <label for="colourValueHEX"></label>
        <input name="colour3" class="colourValueHEX" value="#43d614">
        <!-- HEX Trigger -->
        <button class="getColour">Generate Random</button>
      </div>
    </div>


  <!-- COLOUR FOURS -->

    <div class="picker">
      <div class="line">
        <div class="circle"></div>
        <!-- HEX Target -->
        <label for="colourValueHEX"></label>
        <input name="colour4" class="colourValueHEX" value="#43d614">
        <!-- HEX Trigger -->
        <button class="getColour">Generate Random</button>
      </div>
    </div>

  </div>



  <!-- SECTION 3 -->
  <div class="section" id="section3" class="col 12">

    <h2>Typography</h2>

    <div class="styled-select">
        <label for="font1">Header Font</label>
        <select id="font1" name="font1">
          <option name="Roboto" value="Roboto">Roboto</option>
          <option name="Space Mono" value="Space Mono">Space Mono</option>
          <option name="Slabo 27px" value="Slabo 27px">Slabo</option>
          <option name="Raleway" value="Raleway">Raleway</option>
        </select>
    </div>


      <label for="font2">Paragaph Font</label>
      <select id="font2" name="font2">
        <option name="Roboto" value="Roboto">Roboto</option>
        <option name="Space Mono" value="Space Mono">Space Mono</option>
        <option name="Slabo 27px" value="Slabo 27px">Slabo</option>
        <option name="Raleway" value="Raleway">Raleway</option>
      </select>

      <div class="fontPreview">
        <h1 class="header">hello</h1>
        <input type="text" class="test1" name="" value="">
        <p class="paragraph">my name is</p>
        <textarea name="name" rows="8" cols="80" class="test2 "></textarea>
        <p>This text will be used in the guide</p>
      </div>

      <button>hipster ipsum</button>
      <button>lorem ipsum</button>
      <button>samuel ipsum</button>
  </div>


  <!-- SECTION 4 -->

  <hr>

  <div class="section" id="section4">

    <h2>Icons</h2>

  </div>


  <!-- SECTION 5 -->

  <hr>

  <div class="section" id="section5">

    <h2>References</h2>

      <label for="trello">Trello</label>
      <input class="trello" name="trello" type="text">

      <label for="github">Github</label>
      <input class="github" name="github" type="text">

  </div>

  <hr>

  <div class="section" id="section6">

    <h2>Recipient</h2>

      <label for="recipient_name">Recipient Name</label>
      <input class="recipient_name" name="recipient_name" type="text">

      <label for="recipient_email">Recipient Email</label>
      <input class="recipient_email" name="recipient_email" type="text">

  </div>


  <button>SEND</button>
</form>
