<form action="/guides" method="post" class="col 5" enctype="multipart/form-data">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <!-- SECTION 1A -->

  <div class="section" id="section1">

    <div class="center">
      <div class="modal">

      <h2>New Project</h2>

        <div class="">
          <!-- <label for="">Title</label> -->
          <input class="title" name="title" type="text" placeholder="Title">
        </div>

      <div class="">
        <!-- <label for="description">Description</label> -->
        <input class="description" name="description" placeholder="Description" type="text">
      </div>
      <div class="">
        <!-- <label for="author">Author</label> -->
        <input class="author" name="author" placeholder="Author" type="text">

      </div>

      <h2>Logo</h2>

        <label for="file">Upload image</label>
        <input class="file" name="image" type="file">
      </div>
    </div>
    </div>


  <!-- SECTION 2 -->
  <!-- COLOUR ONE -->

  <div class="section" id="section2">

  <div class="center">

  <h1>Colour Palette</h1>
  <button id="getPalette" style="display:block">GET PALETTE</button>

    <div class="picker" class="col 5">
      <div class="line">
        <div>
          <button class="getColour">Randomize</button>
        </div>
        <div class="circle" id="circle1"></div>
        <!-- HEX Target -->
        <input name="colour1" class="colourValueHEX jscolor {hash:true}" id="colourValueHEX1" value="">
        <!-- HEX Trigger -->
      </div>
    </div>



  <!-- COLOUR TWO -->


    <div class="picker ">
      <div class="line">
        <div>
          <button class="getColour">Randomize</button>
        </div>
        <div class="circle" id="circle2"></div>
        <!-- HEX Target -->
        <input name="colour2" class="colourValueHEX jscolor {hash:true}" id="colourValueHEX2" value="">
        <!-- HEX Trigger -->
      </div>
    </div>



  <!-- COLOUR THREE -->

    <div class="picker">
      <div class="line">
        <div>
          <button class="getColour">Randomize</button>
        </div>
        <div class="circle" id="circle3"></div>
        <!-- HEX Target -->
        <input name="colour3" class="colourValueHEX jscolor {hash:true}" id="colourValueHEX3" value="">
        <!-- HEX Trigger -->
      </div>
    </div>


  <!-- COLOUR FOURS -->

    <div class="picker">
      <div class="line">
        <div>
          <button class="getColour">Randomize</button>
        </div>
        <div class="circle" id="circle4"></div>
        <!-- HEX Target -->
        <label for="colourValueHEX"></label>
        <input name="colour4" class="colourValueHEX jscolor {hash:true}" id="colourValueHEX4" value="">
        <!-- HEX Trigger -->
      </div>
    </div>

  </div>
  </div>



  <!-- SECTION 3 -->
  <div class="section" id="section3" id="type">
    <div class="center2">

    <h2>Typography</h2>

    <div class="styled-select">
        <label style="display:block" for="font1">Header Font</label>
        <select id="font1" name="font1">
          <option name="Roboto" value="Roboto">Roboto</option>
          <option name="Space Mono" value="Space Mono">Space Mono</option>
          <option name="Slabo 27px" value="Slabo 27px">Slabo</option>
          <option name="Raleway" value="Raleway">Raleway</option>
          <option name="Montserrat" value="Montserrat">Montserrat</option>
          <option name="Lora" value="Lora">Lora</option>
          <option name="Bitter" value="Bitter">Bitter</option>
          <option name="Inconsolata" value="Inconsolata">Inconsolata</option>
          <option name="Anton" value="Anton">Anton</option>
          <option name="Lobster" value="Lobster">Lobster</option>
          <option name="Noto Serif" value="Noto Serif">Noto Serif</option>
          <option name="Playfair Display" value="Playfair Display">Playfair Display</option>

        </select>
    </div>
      <input type="text" class="test1" name="" value="">
    <h1 class="header">hello</h1>


      <label for="font2" style="display:block">Paragraph Font</label>
      <select id="font2" name="font2">
        <option name="Roboto" value="Roboto">Roboto</option>
        <option name="Space Mono" value="Space Mono">Space Mono</option>
        <option name="Slabo 27px" value="Slabo 27px">Slabo</option>
        <option name="Raleway" value="Raleway">Raleway</option>
        <option name="Montserrat" value="Montserrat">Montserrat</option>
        <option name="Lora" value="Lora">Lora</option>
        <option name="Bitter" value="Bitter">Bitter</option>
        <option name="Inconsolata" value="Inconsolata">Inconsolata</option>
        <option name="Anton" value="Anton">Anton</option>
        <option name="Lobster" value="Lobster">Lobster</option>
        <option name="Noto Serif" value="Noto Serif">Noto Serif</option>
        <option name="Playfair Display" value="Playfair Display">Playfair Display</option>
      </select>

      <div class="fontPreview">
        <!-- <textarea name="name" rows="8" cols="50" class="test2 "></textarea> -->
        <p class="paragraph">my name is</p>
        <p>Choose an ipsum: </p>
      </div>

      <button id="hipster" class="ipsum">HIPSTER</button>
      <button id="lorem" class="ipsum">LOREM</button>
      <button id="samuel" class="ipsum">SAMUEL L</button>

    </div>
  </div>


  <!-- SECTION 4 -->


  <!-- <div class="section" id="section4">

    <h2>Icons</h2>

  </div>
 -->

  <!-- SECTION 5 -->


  <div class="section" id="section5" id="refs">

    <div class="center">

    <h2>Project References</h2>

        <label for="trello">Trello</label>
     <div class="">
        <input class="trello" name="trello" type="text">
      </div>
        <label for="github">Github</label>
    <div class="">
      <input class="github" name="github" type="text">
      </div>



    <h2>Recipient</h2>
            <label display:"block" for="recipient_name">Recipient Name</label>
    <div class="">
      <input class="recipient_name" name="recipient_name" type="text">
    </div>
      <label for="recipient_email">Recipient Email</label>
    <div class="">

      <input class="recipient_email" name="recipient_email" type="text">
    </div>


      <button>SEND</button>

    </div>

  </div>

</form>
