<!DOCTYPE html>
<html>
  <head>
    <title>Styleguide</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Anton|Bitter|Inconsolata|Lobster|Lora|Montserrat|Noto+Serif|Oswald|Playfair+Display|Raleway|Roboto|Slabo+27px|Space+Mono" rel="stylesheet">
  <body>



    <%= yield %>

    <script src="https://use.fontawesome.com/af946fa77f.js"></script>
    <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.13/clipboard.min.js"></script>

  </body>
</html>
