<!DOCTYPE html>
<html>
  <head>
    <title>Styleguide</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Anton|Bitter|Inconsolata|Lobster|Lora|Montserrat|Noto+Serif|Oswald|Playfair+Display|Raleway|Roboto|Slabo+27px|Space+Mono" rel="stylesheet">
  <body>

  <nav>
    <ul class="topnav" id="myTopnav">
      <li><a href="/guides/new">Create</a></li>
      <li><a href="#news">Logo</a></li>
      <li><a href="#contact">Colour</a></li>
      <li><a href="#about">Type</a></li>
      <li><a href="#about">Icons</a></li>
      <li class="icon">
        <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
      </li>
    </ul>

  </nav>


    <%= yield %>

    <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.13/clipboard.min.js"></script>

  </body>
</html>
